body {
  background-color: #fff7ea;
}

#alignv {
  display: flex;
}

#alignh {
  display: flex;
}

a:-moz-any-link {
  filter: none;
}

h3 {
  text-align: center;
  font-size: 50px;
}

#opener {
  font-size: 75px;
  text-align: center;
  font-style: italic;
}

#openerinfo {
  font-size: 40px;
  font-style: normal;
  text-align: right;
}

.navcats {
  padding-left: 5%;
  padding-right: 5%;
}

#logocat {
  height: 275px;
  width: 330px;
}

#homecat {
  height: 200px;
  width: 200px;
  position: absolute;
}

#homecatalt {
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#homecat:hover ~ #homecatalt,
#homecatalt:hover {
  opacity: 1;
}

#aboutcat {
  height: 200px;
  width: 200px;
  position: absolute;
}

#aboutcatalt {
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#aboutcat:hover ~ #aboutcatalt,
#aboutcatalt:hover {
  opacity: 1;
}

#menucat {
  height: 150px;
  width: 150px;
  position: absolute;
}
#menucatalt {
  height: 150px;
  width: 150px;
  max-height: 150px;
  max-width: 150px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#menucat:hover ~ #menucatalt,
#menucatalt:hover {
  opacity: 1;
}

#catbuild {
  height: 390px;
  width: 600px;
}

.catgroup {
  display: inline-block;
  align-content: center;
}

.cats {
  height: 500px;
  width: 500px;
}

.catnames {
  font-size: 25px;
  text-align: center;
}
